.bg-youngBlue {
    background-color:#221B8D;
    color: white;
}

.navleft {
    display: flex;
    justify-content: flex-end;
}

header nav img {
    width: 150px;
}



header nav form .btn-primary{
    color: #fff;
    background-color: #E2232B;
    border-color: #E2232B;
}

header nav form .btn-primary:hover{
    color: #fff;
    background-color: #ce1f28;
    border-color: #ce1f28;
}

main .informasi h1{
    font-size: 36px;
    color: #221B8D;
    text-align: center;
}

main .informasi {
    font-size: 20px;
}

.informasi .row2{
    margin-top: 5% ;
}

section {
    margin-top : 5%;
}


@media (max-width: 500px) {
    #navbarNavDropdown {
        justify-content: flex-start;
        margin-bottom: 3%;
    }

    .form-size {
        position: relative;
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 5px;
        width: 100%;
    }

    .informasi .row2{
        margin-top: 5%;
        margin-left: 10%;
    }
}
