.bg-youngBlue {
    background-color:#221B8D;
    color: white;
}

.navleft {
    display: flex;
    justify-content: flex-end;
}

header nav img {
    width: 150px;
}

@media (max-width: 500px) {
    #navbarNavDropdown {
        justify-content: flex-start;
    }

    .form-size {
        position: relative;
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 5px;
        width: 100%;
    }
}

header nav form .btn-primary{
    color: #fff;
    background-color: #E2232B;
    border-color: #E2232B;
}

header nav form .btn-primary:hover{
    color: #fff;
    background-color: #ce1f28;
    border-color: #ce1f28;
}