.bg-youngBlue {
    background-color:#221B8D;
    color: white;
}

.navleft {
    display: flex;
    justify-content: flex-end;
}

header nav img {
    width: 150px;
}

@media (max-width: 500px) {
    #navbarNavDropdown {
        justify-content: flex-start;
    }

    .form-size {
        position: relative;
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 5px;
        width: 100%;
    }

    .informasi .container-btn{
        text-align: center;
        margin-left: 20px;
        width: 100%;
    }
}

header nav form .btn-primary{
    color: #fff;
    background-color: #E2232B;
    border-color: #E2232B;
}

header nav form .btn-primary:hover{
    color: #fff;
    background-color: #ce1f28;
    border-color: #ce1f28;
}

main .informasi h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #221B8D;
    margin: 52px 0px 42px 0px;
}

main .informasi {
    font-size: 20px;
}

.informasi .row .col{
    padding-bottom: 28px;
}

.informasi .container-btn{
    text-align: center;
    margin-left: 20px;
}

.informasi .card-body .card-text{
    text-align: left;
}
